.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 2px 5px rgba(255, 81, 81, 0.25);
    margin: 5px;
    padding: 5px;
}
