.container {
    margin: 5px auto;
    max-width: 50vw;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

@media only screen and (orientation: portrait) {
    .container {
        max-width: 90vw;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2px 5px rgba(255, 81, 81, 0.25);
    margin: 5px;
    padding: 5px;
}

.noTripsItem {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
