.trip {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}

.tripContainer {
    background-color: rgb(238, 238, 238);
}

.tripItem {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 10px;
    box-shadow:  0 0 2px 2px rgba(255, 81, 81, 0.25);
    border-bottom: 1px solid rgba(255, 81, 81, 1);
}
