html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: #ff5252;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border: 0 solid;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;   
}

h1,h2,h3,h4,h5,h6 {
    color: #ff5252;
}
