.form {
    display: flex;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.input {
    display: flex;
    flex-direction: column;
}
